'.platform-darwin':
  'cmd-ctrl-G': 'styleguide:show'

'.platform-win32':
  'ctrl-G': 'styleguide:show'

'.platform-darwin .styleguide':
  'cmd-x': 'native!'
  'cmd-c': 'native!'
  'cmd-v': 'native!'

'.platform-win32 .styleguide':
  'ctrl-x': 'native!'
  'ctrl-c': 'native!'
  'ctrl-v': 'native!'
